{% extends "base.html" %}
{% block head %}   

{% endblock %}
{% block body %}
<nav class="navbar navbar-light bg-light">
    <a href="{{url_for('submissions', userid=userid)}}" class="btn btn-outline-primary" >Submissions</a>
    <form class="form-inline" style="margin-left:auto">
        <a href="{{url_for('user_changeInfo', id=userid)}}" class="btn btn-info" >Change your info </a>
        <a href="{{url_for('user_giveAuthentication', userid=userid)}}" class="btn btn-info" style="margin-left:5px" > Give authentication a user </a>     
        <a href="{{url_for('conference', userid=userid)}}" class="btn btn-outline-success" style="margin-left:5px" > Add New Conference </a>
    </form>
  </nav>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Confid</th>
        <th scope="col">Name</th>
        <th scope="col">Short Name</th>
        <th scope="col">Year</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Submission Deadline</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
        {%for conf in conferences%}
            <tr>
                <th scope="row"> {{conf.confid}}</th>
                <td>{{conf.name}}</td>
                <td>{{conf.shortname}}</td>
                <td>{{conf.year}}</td>
                <td>{{conf.start_date}}</td>
                <td>{{conf.end_date}}</td>
                <td>{{conf.submission_deadline}}</td>
                <td>{{conf.website}}</td>
                {%if conf.confid_role == 0 %}
                    <td>
                        <a href="{{url_for('user_update_conf', confid=conf.confid, userid=userid)}}" class="btn btn-outline-primary" > Update</a>
                        {%if conf.status != 2 %}
                          <a href="{{url_for('user_delete_conf', confid=conf.confid, userid=userid)}}" class="btn btn-outline-danger" > Delete</a>
                        {%else%}  
                          <a href="#" class="btn btn-outline-danger disabled" > Request's sent</a>
                        {%endif%}
                    </td> 
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
  </table>
{% endblock %}
