{% extends "base.html" %}
{% block head %}   

{% endblock %}
{% block body %}
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" style="margin-left:auto">
        <a href="{{url_for('conference', userid=userid)}}" class="btn btn-outline-danger" > Add New Conference </a>
    </form>
  </nav>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Confid</th>
        <th scope="col">Name</th>
        <th scope="col">Short Name</th>
        <th scope="col">Year</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Submission Deadline</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    <tbody>
        {%for conf in conferences%}
            <tr>
                <th scope="row"> {{conf.confid}}</th>
                <td>{{conf.name}}</td>
                <td>{{conf.shortname}}</td>
                <td>{{conf.year}}</td>
                <td>{{conf.start_date}}</td>
                <td>{{conf.end_date}}</td>
                <td>{{conf.submission_deadline}}</td>
                <td>{{conf.website}}</td>
                {%if conf.confid_role == 0 %}
                    <td>
                        <a href="/update/{{conf.confid}}" class="btn btn-outline-primary" > Update</a>
                        <a href="#" class="btn btn-outline-danger" > Delete</a>
                    </td> 
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
  </table>
{% endblock %}
